<!DOCTYPE html> 
<html lang="ru"> 
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" /> 
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
    
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'img/fav/favico.ico' %}" type="image">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/fav/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/fav/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/fav/favicon-16x16.png' %}">
    <meta name="msapplication-TileColor" content="#000">
    <meta name="theme-color" content="#ffffff">
    <title>
      {% block title %}
      <!-- Здесь будет заголовок страницы -->
      {% endblock title %}
    </title>
  </head>
  <body>
    <header>
      {% block header %}   
      <!-- Здесь будет заголовок содержания страницы -->
      {% endblock header %}

      {% include 'includes/header.html' %}
    </header>
    <main> 
      {% block content %}
      <!-- Основное наполнение страницы --> 
      {% endblock content %}
    </main>        
      {% include 'includes/footer.html' %}   
   <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="{% static 'js/scripts.js' %}"></script>
  </body>
</html>