{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Вот что я умею</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
      <li class="list-group-item">
        Matlab
      </li>
      <li class="list-group-item">
        Emabdded C
      </li>
      <li class="list-group-item">
        Altium Designer
      </li>
      <li class="list-group-item">
        MSE_Pro
      </li>
      <li class="list-group-item">
        EmWin и TouchGfx
      </li>
    </ul>
  </aside>

  <article class="col-12 col-md-9">
    <p>Для создания сайта было использовано только 2 технолигии из заявленного стека.</p>
  </article>
</div>
{% endblock %}